    <div class="total-cards ">                      
        <div class="perfil card"> 
            <a class="linkinicio">Quien soy?</a>
            <p>Soy Eduardo</p>                                         
        </div>
        
        <div class="arquitectura card">              
            <a style="text-decoration: none" href="/arquitectura" class="linkinicio">Arquitectura</a>
            <p>Aquí encontrarás mis trabajos</p>                  
        </div>
    
        <div class="aplicacionweb card"> 
            <a style="text-decoration: none" href="/inicio" class="linkinicio">Aplicación web</a>
            <p>Aquí encontrarás mi aplicación web</p>                                
        </div>   

         <div class="bootcamp card"> 
            <a style="text-decoration: none" href="/bootcamp" class="linkinicio">Bootcamp</a>
            <p>y acá encontrarás mis trabajos realizados en el Bootcamp</p>                         
        </div>      
    </div>
