<!DOCTYPE html>
<html lang="en">
<head>
	{{> head}}
</head>       
<header>
        {{> header}}
</header>

<body class="fondo">
    {{> @partial-block}}
    <footer>
    {{> footer}}
    </footer>
</body>
{{> scripts}}
</html>
