{{#> template}}
Este es tu inicio jiji

 <div class="card-tracker card">              
            <h3>Buscar regalo</h3>
            <p>ingrese sus datos</p>                  
            <form class="formulario-tracker">
                <div class="campo">
                    <label>N° tracker</label>
                    <input type="text"></input>
                </div>                                               
            </form>
                <button class="boton-tracker">Buscar</button>
        </div>
    
        <div class="card-mercado card"> 
            <h3>Mercado</h3>
            <a href="/tiendas.html" class="boton-mercado">Entrar</a>                               
        </div>        
    </div>

{{/template}}