{{#> template}}
<div class="encabezado">
    <a style="text-decoration: none" href="/"><img src="/src/images/Sin título-1.png" class="dot-inicio"></a>
    <h1 class="titulo"> INICIO</h1>
</div>

<div class="total-cards ">                      
        <div class="iniciosesion card"> 
            <h3 class="linkinicio">Inicio</h3>
            <form action="login" method="POST">  {{!-- BUSCAR INFO DE ACTION --}}
                <div class="campo">
                    <label >Usuario/Email </label>
                    <input type="text" name="username" >  {{!-- Se usa username porque acá se pide esa variables en routes "passport.use(new PassportLocal(function(-->username,password,done)"{ --}}
                </div>

                <div class="campo">
                    <label >Contraseña</label>
                    <input type="password" name="password" >
                    <input class="boton" type="submit" value="Iniciar Sesion">
                    <a style="text-decoration: none" href="/registro">registrate</a>
                </div>
            </form>  
        </div> 
</div>


{{/template}}