{{#> template}}
<div class="encabezado">
    <a style="text-decoration: none" href="/"><img src="/src/images/Sin título-1.png" class="dot-inicio"></a>
    <h1 class="titulo"> INICIO</h1>
</div>

<h2>Deteccion camara web</h2>
<video id="webCam"></video>
{{> cardsinicio}}
{{/template}}